# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env

# Mac system files
.DS_Store

# Django stuff
*.sqlite3
*.log

# VS Code settings
.vscode/

# Python packaging
*.egg-info/
build/
dist/

# Media/temp
*.swp
*.swo
